<!DOCTYPE html>
<html lang="pt-BR">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/style.css">
    <title>Relótica</title>
</head>

<body>
    <div class="container-top">
        <h1>Relótica</h1>
        <p>Sua loja de Relógios e Óculos</p>
    </div>
    <nav class="menu">
        <a href="/">Home</a>
        <a href="/contato">Contato</a>
        <a href="/sobre">Sobre nós</a>
    </nav>

    {{{body}}}
</body>

</html>