<div class="container-sobre">
    <h2>Sobre nós</h2>
    <div>
        <h2>Visão Clara: Sua Janela para o Mundo</h2>

        <p>Bem-vindo à Visão Clara, a sua ótica de confiança! Estamos aqui para transformar a sua experiência visual em
            algo
            extraordinário. Com mais de uma década de excelência em cuidados oculares, oferecemos uma ampla gama de
            serviços
            e produtos que vão além de simples óculos e lentes de contato.</p>        
    </div>

    <div>
        <h2>Experiência Personalizada</h2>

        <p>Na Visão Clara, sabemos que cada cliente é único. É por isso que nossa equipe altamente qualificada e
            apaixonada
            está pronta para fornecer uma consulta personalizada. Compreendemos suas necessidades visuais e estilo de
            vida,
            ajudando-o a encontrar a solução perfeita para atender às suas expectativas. Nossa missão é garantir que
            você
            não
            apenas veja bem, mas também se sinta confiante e elegante em seus óculos.</p>

    </div>

    <div>
        <h2>Tecnologia de Ponta</h2>

        <p>Estamos comprometidos com a mais recente tecnologia e inovação em ótica. Nossos exames de vista são
            realizados
            com
            equipamentos de última geração para garantir uma prescrição precisa. Além disso, oferecemos uma seleção
            impressionante de lentes de alta qualidade, incluindo opções antirreflexo, antirrisco e multifocais, para
            atender a
            todas as suas necessidades visuais.</p>
    </div>

    <div>
        <h2>Moda e Estilo</h2>

        <p>Na Visão Clara, acreditamos que óculos não são apenas uma correção visual, mas também uma declaração de
            estilo.
            Nossa coleção de óculos de sol e armações é cuidadosamente selecionada para incluir as últimas tendências da
            moda e
            designs clássicos. Você encontrará marcas exclusivas e peças exclusivas que complementarão seu estilo
            pessoal.
        </p>

    </div>



</div>